body {
    background-color: #FAEDCD;
}
.image_title {
    background-image: url('ANGLIG_10313767400.png');
    height: 250px;
    overflow: hidden;
}
.projectTitle {
    padding-top: 50px;
    color: white;
    font-size: 55px;
    font-family: 'papyrus', Fantasy;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
.mainNavbar {
    background-color: rgba(77, 77, 77, 0.75);
	position: sticky;
	box-shadow: 0px 2px 10px;
	top: 0;
}
ul.cast{
    list-style-type: none;
    color:#D4A373;
    background-color:#FCFBF4;
    box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.75);
    opacity:1;
}
li a.char {
    display: inline-block;
    font-family: 'copperplate', fantasy;
    text-align: center;
    color: #D4A373;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 27px;
}
li a.main {
    display: inline-block;
    font-family: 'copperplate', fantasy;
    text-align: center;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 27px;
}
ul.nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li.nav {
    display: inline;
}
li a.main {
    display: inline-block;
    font-family: 'copperplate', fantasy;
    text-align: center;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 27px;
}

li a:hover {
    background-color: #D4A373;
}
li a.char:hover {
    background-color: rgba(77, 77, 77, 0.75);
}
section{
    color:#D4A373;
    font-size:20px;
}
h1{
    font-size: 32px;
    text-align: center;
    font-family: 'copperplate', Fantasy;
    color:#D4A373;
    
}