body {
    background-color: #FAEDCD;
}
div {
    display: block;
}
.navbar {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: rgba(77, 77, 77, 0.50);
    box-shadow: 5px 5px 20px #D4A373;
    opacity: 1;
    margin: 70px auto;
    padding: 10px;
}
#imageNavbar {
    width: 1255px;
}
.fleximage {
    margin: 10px 5px;
    justify-content: space-between;
    flex-direction: row;
}

.fleximage a:hover {
    outline: 7px solid #D4A373;
}