body {
    background-color: #FAEDCD;
}
.pageTitle {
    color: #D4A373;
    font-family: 'copperplate', Fantasy;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size:larger;
}
.image {
    background-image: url('ANGLIG_10313767400.png');
    height: 250px;
}
.projectTitle {
    padding-top: 50px;
    color: white;
    font-size: 40px;
    font-family: 'papyrus', Fantasy;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
.sticky {
    background-color: rgba(77, 77, 77, 0.75);
	position: sticky;
	top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline;
}
li a.main {
    display: inline-block;
    font-family: 'copperplate', fantasy;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

li a.inpage {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}

li.buttons {
    text-align: left;
    display: list-item;
}

li a:hover {
    background-color: #D4A373;
}
.active {
    background-color: #D4A373;
}
.overview {
    color:#D4A373;
    background-color:#FCFBF4;
    box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.75);
    opacity:1;
    width:80%;
    padding:20px;
    margin: 40px auto;
}
.about-the-team {
    color:#D4A373;
    background-color:#FCFBF4;
    box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.75);
    opacity:1;
    width:80%;
    padding:20px;
    margin: 40px auto;
}
p {
   padding: 0 15px 0 15px;
   font-size:20px;
}
h2 {
    font-size: 32px;
    text-align: center;
    font-family: 'copperplate', Fantasy;
}
