  /* html body */
body {
    font-size: 1.15em;
    margin: 0;
    padding: 0;
    background-color: #FAEDCD;
}
  /* myth nav bar */
table{
   background-color: #D4A373; 
   margin-left: auto;
  margin-right: auto;
}
td {
    padding: 8px 16px;
}
a {
  color: #FCFBF4;
  text-decoration: none;
}
td:hover {
    background-color: rgba(77, 77, 77, 0.75);
}
 /* myth title container */
h1 {
    font-family: copperplate;
    color: #D4A373;
    background-color: #FCFBF4;
    width: 30%;
    padding: 20px;
    margin-left: 150px;
    margin-top: 20px;
    box-shadow: 0px 0px 30px -11px rgba(0, 0, 0, 0.75);
}
.myth-label {
    font-size: 30px;
}
  /* text container */
h2 {
    font-family: copperplate;
    color: #D4A373;
    font-size: 30px;
}
.highlightguide {
    font-family: arial, helvetica, sans-serif;
    font-size: 17px;
    background-color: #FCFBF4;
    width: 35%;
    padding: 10px;
    margin-left: 200px;
}
.orangeHighlight {
background-color: #FED9B7;
}
.text {
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    background-color: #FCFBF4;
    width: 35%;
    padding: 20px;
    margin: 40px auto;
    position: absolute;
    left: 200px;
    box-shadow: 0px 0px 30px -11px rgba(0, 0, 0, 0.75);
}
  /* checkbox*/
.stick
{
    position: fixed;
    display: block;
    background-color: #FCFBF4;
    top: 20%;
    right: 5%;
    font-size: 17px;
    margin-right: 1px;
    overflow: auto;
    font-family: arial, helvetica, sans-serif;
    padding: 20px;
    line-height: 150%;
}
.removespace {
    margin: 0;
    padding: 0;
}
.tag {
    font-family: copperplate;
    color: #D4A373;
    font-size: 30px;
    line-height: 150%;
}
  /* Highlight element and hover attribute in text */
.char_hover {
    background-color: #DCDCDC;
    padding: 10px;
    display: none;
}
.hoverable:hover.on + .char_hover {
    display: inline-block;
    position: absolute;
    margin-top: 17px;
}
.dia_hover {
    background-color: #DCDCDC;
    padding: 10px;
    display: none;
}
.hoverable:hover.on + .dia_hover {
    display: inline-block;
    position: absolute;
    margin-top: 17px;
}
.trans_hover {
    background-color: #DCDCDC;
    padding: 10px;
    display: none;
}
.hoverable:hover.on + .trans_hover {
    display: inline-block;
    position: absolute;
    margin-top: 17px;
}
  /* rcolors for each gender/element */
.male_character.on {
    background-color: #BEDCFE;
}
.female_character.on {
    background-color: #8FD5A6;
}
.nonbinary_character.on {
    background-color: #B5B2C2;
}
.male_dia.on {
    background-color: #FED9B7;
}
.female_dia.on {
    background-color: #DCCCFF;
}
.nonbinary_dia.on {
    background-color: #FDDA0D;
}
.male_transform.on {
    background-color: #DDF093;
}
.female_transform.on {
    background-color: #FE8480;
}
.nonbinary_transform.on {
    background-color: #75DBCD;
}
