body {
    font-size: 1.15em;
    margin: 0;
    padding: 0;
}
.hover {
    background-color: #DCDCDC;
    padding: 20px;
    display: none;
    }
.hoverable:hover + .hover {
    display: inline-block;
    position: absolute;
    margin-top: 17px;
}
.male_character {
    background-color: #99CCFF;
}
.female_character {
    background-color: #FF9999;
}
.nonbinary_character {
    background-color: #c0c0c0;
}
.male_dia {
    background-color: #B2FF66;
}
.female_dia {
    background-color: #FFB266;
}
.nonbinary_dia {
    background-color: #C0C0C0;
}
.male_transform {
    background-color: #B2FF66;
}
.female_transform {
    background-color: #FFB266;
}
.nonbinary_transform {
    background-color: #C0C0C0;
}

